@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
  }

  html {
    @apply scroll-smooth antialiased;
  }

  body {
    @apply bg-slate-50 text-slate-900;
  }

  *:focus-visible {
    @apply outline-none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
